<table border="1" style="border-collapse: collapse; width: 100%;">
  <thead>
    <tr>
      <th style="border: 1px solid black;">Column 1</th>
      <th style="border: 1px solid black;">Column 2</th>
      <th style="border: 1px solid black;">Column 3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="border: 1px solid black;">Row 1, Col 1</td>
      <td style="border: 1px solid black;">Row 1, Col 2</td>
      <td style="border: 1px solid black;">Row 1, Col 3</td>
    </tr>
    <tr>
      <td style="border: 1px solid black;">Row 2, Col 1</td>
      <td style="border: 1px solid black;">Row 2, Col 2</td>
      <td style="border: 1px solid black;">Row 2, Col 3</td>
    </tr>
  </tbody>
</table>
